.background{
    width: 99.75vw;
    height: 82.6vh;
    background: linear-gradient(56deg, rgb(255, 180, 172) 0%, rgb(255, 180, 172) 40%, #679186 calc(40% + 1px), rgb(103, 145, 134) 50%, rgb(38, 78, 112) calc(50% + 1px), #264e70 70%, #ffebd3 calc(70% + 1px), rgb(255, 235, 211) 100%);
}
.proxText{
    font-family: 'Montserrat Alternates';
    font-size: 4em;
    padding: 2em 3em;
    text-shadow: 2px 2px 5px whitesmoke;
}